/* -------------------------------------
 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */

$bahia-red: #9F1723;
$dark-red: #6C0E18;

a {
  color:#434141;
}
a:hover {
  text-decoration: none;
  font-weight:bolder;
  color: #434141;
}
a:visited {
  color:#434141;
  text-decoration:none;
  font-weight: normal;
}

.form-control {
  border-bottom: 2px solid #1EC9E5;
  background-color: #DCF2F9;
}

.btn-default:hover {
  color: white;
  background-color: $dark-red;
  border-color: $dark-red;
}

.bahia-btn {
  background-color: #9F1723;
  border-radius: 0px;
  border: 2px solid #9F1723;
  font-family: "Raleway";
  text-transform: uppercase;
  color: white;
  font-weight: 300;
  font-size: 0.8em;
}
.bahia-btn:hover {

}

.row {
  margin:0;
  padding:0;
}
// PHOTO HOMEPAGE
.homepage-photos {
  width:100vw;
  height:100vh;
  position:relative;
  padding:60px 40px 40px 40px;
  h1 {
    text-align: center;
    margin: 0 0 40px 0;
    color: $red;
    font-weight: 300;
  }
}



.wrapper-blog-home {
  padding: 40px;
  .intro-text {
    padding: 0 250px 40px 250px;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    font-size: 18px;
    @media all and (max-width: 900px) {
      padding:5px;
    }
  }
  .title-first-page {
    margin: 0 0 40px 0;
    text-align: center;
    color: #1EC9E5;
    text-transform: uppercase;
    font-size: 40px;
  }
  .info-box-left {
    padding: 20px;
    border: 1px solid #9F1723;
    margin-right: 10px;
    height:400px;
    @media all and (max-width: 900px) {
      margin-right:0px;
      margin-bottom:10px;
    }
  }
  .info-box-right {
    padding: 20px;
    border: 1px solid #9F1723;
    margin-left: 10px;
    height:400px;
    display:flex;
    flex-direction:column;
    @media all and (max-width: 900px) {
      margin-left:0px;
    }
    .card-photo {
      flex: 0 0 47%;
      border-radius: 3px;
      margin-bottom: 20px;
      cursor:pointer;
      transition: opacity 0.35s, transform 0.35s;
      padding:50px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      background:-webkit-linear-gradient(#2c539e 0%,#37AAC6 50%,#2c539e 100%);
      p {
        color: white;
        font-weight: 100;
        font-family: 'Raleway', sans-serif;
        text-align: center;
        opacity:0;
        transition: opacity 0.35s, transform 0.35s;
        @media all and (max-width: 700px){
          font-size:12px;
          }
        }
      h2 {
        color:white;
        text-transform:uppercase;
        text-align:center;
        transition: opacity 0.35s, transform 0.35s;
        @media all and (max-width: 700px){
          font-size:20px;
        }
      }
    }
    .card-photo:hover p {
      opacity:1;
    }
    .card-photo:hover {
      outline: 1px solid white;
      outline-offset: -20px;
    }
  }

}

// PAGE BLOG HOME

.wrapper-blog-home {
  padding: 40px;
  margin-top: 20px;

  .intro-blog {
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content: space-around;
    .card-photo {
      border-radius: 3px;
      margin-bottom: 20px;
      cursor:pointer;
      flex: 0 0 90%;
      height:30vh;
      transition: opacity 0.35s, transform 0.35s;
      padding:50px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      background:-webkit-linear-gradient(#2c539e 0%,#37AAC6 50%,#2c539e 100%);
      p {
        color: white;
        font-weight: 100;
        font-family: 'Raleway', sans-serif;
        text-align: center;
        opacity:0;
        transition: opacity 0.35s, transform 0.35s;
        }
      h2 {
        color:white;
        text-transform:uppercase;
        text-align:center;
        transition: opacity 0.35s, transform 0.35s;
      }
    }
    .card-photo:hover p {
      opacity:1;
    }
    .card-photo:hover {
      outline: 1px solid white;
      outline-offset: -20px;
    }
  }
  .row-map-and-content {
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content: space-between;
    .dynamic-map {
      flex: 0 0 48%;
    }
  }
}
