.wrapper-map {
  margin-top: 30px;

  .row-map-and-content {
      display:flex;
      flex-direction:row;
      flex-wrap:wrap;
      justify-content: space-between;
      padding:40px;
  }

  .content-articles {
    flex: 0 0 50%;
  }

  .no-article {
    color: $bahia-red;
    margin: 0;
    padding: 20px;
    text-align: center;
    margin-bottom: 20px;
    h3 {
      font-family: 'Quicksand', sans-serif;
      margin:0;
    }
  }

  #all-regions-selector {
    font-weight: 100;
    text-transform: uppercase;
    background-color: white;
    padding: 8px;
    border-radius: 3px;
    font-size: 12px;
    margin: 10px;
  }
  #all-regions-selector:hover {
      font-weight:500;
      background-color: $bahia-red;
      cursor:pointer;
      color: #F3EAEA;
    }
}

.chose-category {
    background-color: #F3EAEA;
    border-radius: 10px;
    color: $bahia-red;
    margin: 0;
    padding: 20px;
    text-align: center;
    margin-bottom: 20px;
    h4 {
      margin:0;
      margin-bottom: 20px;
      font-family: 'Quicksand', sans-serif;
    }
    span {
      font-weight: 100;
      text-transform: uppercase;
      background-color: white;
      padding: 8px;
      border-radius: 3px;
      font-size: 12px;
      margin: 10px;
    }
    span:hover {
      font-weight:500;
      background-color: $bahia-red;
      cursor:pointer;
      color: #F3EAEA;
    }
  }

.dynamic-map {
      flex: 0 0 45%;
      background-color:#F3EAEA;
      border-radius: 10px;
      padding: 20px;
      h3 {
        margin: 0;
        padding: 20px;
        text-transform: uppercase;
        color: #9F1723;
        font-family: "Quicksand", sans-serif;
        text-align: center;
      }
      svg {
        padding:20px;
      }
      use {
        stroke: white;
        fill: #9F1723;
      }

      use:hover {
          fill: white;
        cursor: pointer;
      }
      .state--selected use {
        fill: #750F19;
        cursor: default;
        strole:#F3EAEA;
      }
      .box-title-map {
        min-height:55px;
        #description-map-box {
          opacity:1;
        }
      }
    }

