.wrapper-contact {
  padding: 100px;
  background-position: -136px -50px;
  @media all and (max-width: 900px) {
    padding:40px 10px 10px 10px;
    background-position: -100px -14px;
  }
  @media all and (max-width: 800px) {
    background-position: -105px -25px;
  }
  @media all and (max-width: 600px) {
    background-position: -42px 25px;
  }
  @media all and (max-width: 400px) {
    background-position: center 100px;
  }
  .message-text {
    font-weight: 300;
    color: #333333;
    font-size: 42px;
    margin: 20px 0 5px 0;
    text-align: center;
  }
  h1 {
    margin: 0 0 50px 0;
    text-align: center;
    font-size: 30px;
    text-transform: uppercase;
    color: #9F1723;
    font-weight: 300;
  }
  .form-control {
    border: none;
    border-bottom: 2px solid #1EC9E5;
    background-color: #DCF2F9;
    box-shadow: none;
  }
  h4 {
    font-weight: 300;
    color: #333333;
    font-size: 16px;
    margin: 20px 0 5px 0;
  }
}
