<div class="article-miniature">
  <div class="article-miniature-photo">
    <img src="http://www.global-gps.ca/files/destinations/MEXIQUE_Depositphotos_21976063_original.jpg" alt="">
  </div>
  <div class="article-miniature-text">
    <h4 class="categ"> <i class="fa fa-tag" aria-hidden="true"></i> Mexique <i class="fa fa-tag margin-left-20" aria-hidden="true"></i> Yucatan <i class="fa fa-tag margin-left-20" aria-hidden="true"></i> Artisanat</h4>
    <h3>C'est le grand départ pour Bahia blanca !</h2>
    <h4><i class="fa fa-calendar-o" aria-hidden="true"></i> 15 novemvre 2017 <i class="fa fa-comment-o margin-left-20" aria-hidden="true"></i> 6  <img class="user-photo" src="https://media.licdn.com/mpr/mpr/shrinknp_200_200/AAEAAQAAAAAAAAY-AAAAJGM1ODE5OWUyLWRhYjctNGFkNy1iOTk5LTc4OTAwYjE2MWRlZA.jpg" alt="">Par Claire</h4></h4>
  </div>
</div>
