

<div class="modal fade bs-example-modal-sm" id="bahialetterModal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-text">
        <!-- Begin MailChimp Signup Form -->
        <link href="//cdn-images.mailchimp.com/embedcode/classic-10_7.css" rel="stylesheet" type="text/css">
        <style type="text/css">
            #mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }
            /* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
               We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
        </style>
        <div id="mc_embed_signup">
        <form action="//bahiablanca-artisanat.us14.list-manage.com/subscribe/post?u=35b644d2d80a9165d9c9cd0c8&amp;id=36c85a24ac" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
            <div id="mc_embed_signup_scroll">
            <h2>Votre inscription à la Bahia Letter</h2>
        <div class="mc-field-group">
            <label for="mce-EMAIL">Adresse email  <span class="asterisk">*</span>
        </label>
            <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
        </div>
        <div class="other-fields">
          <div class="mc-field-group" style="padding-right: 20px">
              <label for="mce-FNAME">Prénom</label>
              <input type="text" value="" name="FNAME" class="" id="mce-FNAME">
          </div>
          <div class="mc-field-group">
              <label for="mce-LNAME">Nom </label>
              <input type="text" value="" name="LNAME" class="" id="mce-LNAME">
          </div>
        </div>

            <div class="indicates-required"><span class="asterisk">*</span> informations nécessaires</div>
            <div id="mce-responses" class="clear">
                <div class="response" id="mce-error-response" style="display:none"></div>
                <div class="response" id="mce-success-response" style="display:none"></div>
            </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
            <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_35b644d2d80a9165d9c9cd0c8_36c85a24ac" tabindex="-1" value=""></div>
            <div class="clear"><input type="submit" value="Je m'inscris" name="subscribe" id="mc-embedded-subscribe" class="button">
            <input value="Fermer" class="button" id="fermer-button"></div>
            </div>
        </form>
        </div>
        <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
        <!--End mc_embed_signup-->
        </div>
      </div>
  </div>
</div>

<% content_for(:after_js) do %>
  <%= javascript_tag do %>
  $('#mc-embedded-subscribe').on("click", function(){
    $('#bahialetterModal').css("display", "block");
  });
  $('#fermer-button').on("click", function(){
    $('#bahialetterModal').modal('hide');
  })
  <% end %>
<% end %>
