<div id="countdown">
  <p id="paragraph-home">L'équipe de Bahia Blanca embarque le 31 janvier pour un périple au Mexique afin de découvrir en profondeur l'artisanat mexicain et trouver les artisans qui produiront la nouvelle collection 2017 de Bahia Blanca.</p>
  <div class="countdown-card">
    <h3>Grand départ avant</h3>
    <div class="time-card">
      <div class="time-title">
        <p class="timeRefDays">jours</p>
      </div>
      <div class="time-content">
        <p class="days">00</p>
      </div>
    </div>
    <div class="time-card">
      <div class="time-title">
        <p class="timeRefHours">heures</p>
      </div>
      <div class="time-content">
        <p class="hours">00</p>
      </div>
    </div>
    <div class="time-card">
      <div class="time-title">
        <p class="timeRefMinutes">minutes</p>
      </div>
      <div class="time-content">
        <p class="minutes">00</p>
      </div>
    </div>
    <div class="time-card">
      <div class="time-title">
        <p class="timeRefSeconds">secondes</p>
      </div>
      <div class="time-content">
        <p class="seconds">00</p>
      </div>
    </div>
  </div>
</div>



