<div id="countdown">
  <div class="countdown-card">
    <h3>Juliette et Claire ont encore</h3>
    <div class="time-card">
      <div class="time-title">
        <p class="timeRefDays">jours</p>
      </div>
      <div class="time-content">
        <p class="days">00</p>
      </div>
    </div>
    <div class="time-card">
      <div class="time-title">
        <p class="timeRefHours">heures</p>
      </div>
      <div class="time-content">
        <p class="hours">00</p>
      </div>
    </div>
    <div class="time-card">
      <div class="time-title">
        <p class="timeRefMinutes">minutes</p>
      </div>
      <div class="time-content">
        <p class="minutes">00</p>
      </div>
    </div>
    <div class="time-card">
      <div class="time-title">
        <p class="timeRefSeconds">secondes</p>
      </div>
      <div class="time-content">
        <p class="seconds">00</p>
      </div>
    </div>
    <h3>pour lancer la production</h3>
  </div>
</div>



