<div class="footer-items">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <img class="footer-bloomer-brand" src="http://res.cloudinary.com/hrscywv4p/image/upload/c_limit,h_9000,w_1200,f_auto,q_90/v1/780428/3c85003c1c774eb3be89f15a39066756_urnolg.jpg" alt="">
        </div>

          <div class="col-md-2">
            <div class="section-footer">
             <h1> L'ÉQUIPE </h1>
             <p> Qui sommes-nous ? </p>
             <p> Contact </p>
           </div>

         </div>
         <div class="col-md-2">
           <div class="section-footer">
           <h1> LES VALEURS </h1>
          <p> Les habits éthiques </p>
          <p> Blablabla </p>
          </div>
        </div>

        <div class="col-md-2">
          <div class="section-footer">
            <br><br>
            <a href="https://twitter.com/bloomersfrance" class="share-link bg-twitter">
              <i class="fa fa-twitter"></i>
            </a>
            <a href="http://bloomers.fr/" class="share-link bg-email">
              <i class="fa fa-envelope-o"></i>
            </a>
            <a href="http://bloomers.fr/" class="share-link bg-facebook">
              <i class="fa fa-facebook-square"></i>
            </a>
          <a href="http://bloomers.fr/" class="share-link bg-instagram">
              <i class="fa fa-instagram" aria-hidden="true"></i>
          </a>
          </div>
        </div>
      </div>
    </div>
  </div>
