<div class="row wrapper-footer">
    <div class="col-xs-12 col-sm-4 footer-column">
      <div class="footer-section text-right">
       <h2>Contact </h2>
       <%= link_to contact_path do %>
       <p>Envoyez-nous un mot doux <i class="fa fa-envelope" aria-hidden="true"></i></p>
       <% end %>
       <p>+ 33 6 19 91 13 32 <i class="fa fa-phone" aria-hidden="true"></i></p>
       <p>21, rue de Cléry <i class="fa fa-map-marker" aria-hidden="true"></i><br>75 002 Paris  <i class="fa fa-map-marker" aria-hidden="true" style="color:white"></i></p>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4 footer-column">
      <div class="footer-section text-middle">
        <a class="btn btn-default enews-btn" data-toggle="modal" data-target="#bahialetterModal">
          Inscrivez-vous à la bahialetter
        </a>
        <div class="social-links">
          <a href="https://www.facebook.com/bahiablancaparis/?fref=ts&ref=br_tf">
          <i class="fa fa-facebook-square" aria-hidden="true"></i>
          </a>
          <a href="https://www.instagram.com/bahiablancaparis/">
            <i class="fa fa-instagram"></i>
          </a>
          <%= link_to do %>
            <i class="fa fa-envelope-o"></i>
          <% end %>
          <a href="https://twitter.com/bahiablanca_co">
            <i class="fa fa-twitter"></i>
          </a>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4 footer-column">
      <div class="footer-section text-left">
        <h2>Liens utiles</h2>
        <p>Les débuts de Bahia Blanca</p>
        <p>Notre e-shop</p>
      </div>
    </div>
</div>
<%= render partial: 'shared/bahialetter_modal' %>

<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    $('#close-modal').modal('hide');

  <% end %>
<% end %>
