<div class="row wrapper-footer">
    <div class="col-xs-12 col-sm-4 footer-column">
      <div class="footer-section text-right">
       <h2>Contact </h2>
       <%= link_to do %>
       <p>Nous envoyer un message </p>
       <% end %>
       <p>+ 33 6 19 91 13 32 </p>
       <p>21, rue de Cléry <br>75 002 Paris </p>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4 footer-column">
      <div class="footer-section text-middle">
        <a class="btn btn-default enews-btn" data-toggle="modal" data-target="#bahialetterModal">
          Inscrivez-vous à la bahialetter
        </a>
        <div class="social-links">
          <a href="https://www.facebook.com/bahiablancaparis/?fref=ts&ref=br_tf">
          <i class="fa fa-facebook-square" aria-hidden="true"></i>
          </a>
          <a href="https://www.instagram.com/bahiablancaparis/">
            <i class="fa fa-instagram"></i>
          </a>
          <%= link_to do %>
            <i class="fa fa-envelope-o"></i>
          <% end %>
          <a href="https://twitter.com/bahiablanca_co">
            <i class="fa fa-twitter"></i>
          </a>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4 footer-column">
      <div class="footer-section text-left">
        <h2>Liens utiles</h2>
        <p>Les débuts de bahia blanca</p>
        <p>L'équipe</p>
      </div>
    </div>
</div>

<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    $('#close-modal').modal('hide');
  <% end %>
<% end %>
