<nav class="navbar-bahia" style="border-bottom: 2px solid #9F1723">
  <div class="container navbar-bahia-container">
    <div class="navbar-bahia-side left">
      <!-- Div à récupérer sur site du Wagon -->
<!--       <a href="#">Femme <i class="fa fa-caret-down" aria-hidden="true"></i></a>
      <a href="#">Homme <i class="fa fa-caret-down" aria-hidden="true"></i></a>
      <a href="#">Enfant <i class="fa fa-caret-down" aria-hidden="true"></i></a>
 -->  <a href="http://www.bahiablanca-artisanat.com">e-shop</a>
    </div>
    <div class="logo-bahia-container">
      <a href="/">
        <img class="logo-bahia" src="http://res.cloudinary.com/hrscywv4p/image/upload/c_limit,h_9000,w_1200,f_auto,q_90/v1/780428/3c85003c1c774eb3be89f15a39066756_urnolg.jpg" alt="">
      </a>
    </div>
    <div class="navbar-bahia-side right">
      <div class="dropdown-navbar-btn">
        <a href="/" class="drop-btn">Journal <i class="fa fa-caret-down" aria-hidden="true"></i></a>
        <div class="dropdown-content">
          <a href="/map?category=ART"><%= cl_image_tag("Markers/sewing3.png", width:24) %> L'artisanat</a>
          <br>
          <a href="/map?category=VOYAGE"><%= cl_image_tag("Markers/cactus.png", width:24) %> Nos coups de cœur </a>
        </div>
      </div>
    </div>
  </div>
</nav>
