<div class="homepage-photos">
   <h1>Découvrez le Mexique avec nous !</h1>
    <%= render 'shared/countdown' %>
</div>

<div class="wrapper-blog-home">


  <div class="intro-blog">
    <div class="card-photo" id="artisanat">
      <h2>Artisanat</h2>
      <p>Découvrez les artisans du Mexique et les spécificités régionales</p>
    </div>
    <div class="card-photo" id="visits">
    <h2>Voyages</h2>
    <p>Voyagez avec nous en découvrant nos coups de cœurs sur place</p>
    </div>
  </div>
</div>
