.gm-style-iw {
  h2 {
    margin: 0;
    font-family: "Raleway", sans-serif;
    color: #9F1723;
    margin-bottom: 5px;
    margin-top: 5px;
    font-size: 20px;
  }
  h4 {
    margin: 0;
    font-size: 10px;
    font-weight: 300;
    margin-left: -10px;
  }
  .user-photo {
    height: 16px;
    border-radius: 50%;
    border: 1px solid #434141;
    margin: 0 5px 0 20px;
  }
  i {
    margin-right: 5px;
    margin-left: 10px;
  }
  .article-photo {
    width:80%;
  }
  p {
    font-family:'Quicksand', sans-serif;
    font-size:12px;
    margin-top: 10px;
    font-weight: 300;
  }
  a p:hover {
    font-weight:300;
  }
}
