
  #loading-page {
    width:100vw;
    height:100vh;
    .loading {
    }
    .elem {
      -webkit-animation: rotation 2s infinite linear;
      margin-left: 45vw;
      width: 200px;
      margin-top: 30vh;
      @media all and (max-width: 850px) {
        margin-left: 40vw;
      }
      @media all and (max-width: 600px) {
        margin-left: 35vw;
      }
      @media all and (max-width: 500px) {
        margin-left: 25vw;
      }
    }

    @-webkit-keyframes rotation {
        from {-webkit-transform: rotate(0deg);}
        to   {-webkit-transform: rotate(359deg);}
    }
  }

